@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #252525;
    color: lightsteelblue;
}

/** Layers **/

.z-neg-1 {
    z-index: -1;
}
.z-0 {
    z-index: 0;
}
.z-1 {
    z-index: 1;
}
.z-2 {
    z-index: 2;
}

/** Containers **/

.grid-box {
    display: grid;
}
.flex-row, .flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-row-right {
    justify-content: right;
}
.flex-column-right {
    align-items: flex-end;
}
.b-box {
    box-sizing: border-box;
}
.c-box {
    box-sizing: content-box;
}

/** Sizing **/

.w-fill {
    width: 100%;
}
.h-fill {
    height: 100%;
}
.w-100px {
    width: 100px;
}
.h-60px {
    height: 60px;
}
.h-100px {
    height: 100px;
}
.h-150px {
 height: 150px;
}
.w-fit {
    width: fit-content;
}
.h-fit {
    height: fit-content;
}
.w-100pc {
    width: 100%;
}

/** Animation **/

.buttonCallArea {
    width: 50px;
    transition: width 100ms ease-in;
}
.buttonCallArea:hover {
    width: 100px;
}
.slideIn {
    transform: translateX(100%);
    transition: none;
}
.buttonCallArea:hover .slideIn {
    transform: translateX(0);
    transition: transform 100ms ease-in;
}
.toolbar-button:active .pressDown {
    transform: scale(0.8);
}
#search:hover {
    border-right-color: #47d1cd;
    background: linear-gradient(to left, #47d1cd40, #252525);
}
#random:hover {
    border-right-color: #9933ff;
    background: linear-gradient(to left, #9933ff40, #252525);
}
#clear:hover {
    border-right-color: #db143c;
    background: linear-gradient(to left, #db143c40, #252525);
}

/** Borders **/

.b-3px {
    border-width: 3px;
}
.b-s {
    border-style: solid;
}
.b-t {
    border-style: transparent;
}
.b-l-3px {
    border-left-width: 3px;
}
.b-l-s {
    border-left-style: solid;
}
.b-l-t {
    border-left-style: transparent;
}
.b-r-3px {
    border-right-width: 3px;
}
.b-r-s {
    border-right-style: solid;
}
.b-r-t {
    border-right-style: transparent;
}
.b-rad-100pc {
    border-radius: 100%;
}

/** Palette **/

.fg-778899 {
    color: #778899;
}
.fg-77889940 {
    color: #77889940;
}
.fg-252525 {
    color: #252525;
}
.fg-323232 {
    color: #323232;
}
.fg-47d1cd {
    color: #47d1cd;
}
.fg-9933ff {
    color: #9933ff;
}
.fg-db143c {
    color: #db143c;
}
.bg-778899 {
    background-color: #778899;
}
.bg-252525 {
    background-color: #252525;
}
.bg-47d1cd40 {
 background-color: #47d1cd40;
}
.bg-926fd840 {
 background-color: #926fd840;
}
.bg-db143c40 {
 background-color: #db143c40;
}
.bg-77889910 {
 background-color: #77889910;
}
.bg-77889920 {
 background-color: #77889920;
}
.bg-77889940 {
 background-color: #77889940;
}
.bg-50505080 {
 background-color: #50505080;
}
.bg-3ee0cf10 {
 background-color: #3ee0cf10;
}
.b-77889940 {
    border-color: #77889940;
}
.b-252525 {
    border-color: #252525;
}

/** Toolbar Buttons **/

.toolbar-button {
    background: none; /* ! Override browser default ! */
    width: 50px;
    height: 50px;
}

/** Icons **/

.marker  {
    position: absolute;
}
.marker .fa {
    color: #77889920;
}
#search:hover .motion {
    transform: translate(0);
    transition: transform 180ms ease-in;
}
#random:hover .motion {
    transform: translate(0);
    transition: transform 180ms ease-in;
}
#clear:hover .motion {
    transform: translate(0);
    transition: transform 180ms ease-in;
}
#search button:active > .motion {
    transform: scale(0.8);
}
#random button:active > .motion {
    transform: scale(0.8);
}
#clear button:active > .motion {
    transform: scale(0.8);
}

/** Array Grid **/

#query {
    margin-right: 25px;
}
#query:hover {
    background-color: #47d1cd40;
}
#query:focus {
    border-color: #47d1cd;
}
#array {
    height: 50px;
    margin: 0 5px;
}
.arrayElement {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    color: lightsteelblue;
    caret-color: transparent;
    border-radius: 100%;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.arrayElement:hover {
    background-color: #77889940;
}
.arrayElement:focus {
    border: 3px solid #778899;
}

/** Console **/

#output {
    text-align: left;
    text-indent: 20px;
    padding: 20px 0;
    font-family: monospace, Roboto, Arial, Helvetica, sans-serif;
    color: #47d1cd;
}




