
/* Opacity */

.op-10 {
    opacity: 0.1;
}
.op-20 {
    opacity: 0.2;
}
.op-30 {
    opacity: 0.3;
}
.op-40 {
    opacity: 0.4;
}
.op-50 {
    opacity: 0.5;
}
.op-60 {
    opacity: 0.6;
}
.op-70 {
    opacity: 0.7;
}
.op-80 {
    opacity: 0.8;
}
.op-90 {
    opacity: 0.9;
}

/* Layout */

.grid {
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.start {
    justify-content: flex-start;
}
.center {
    align-items: center;
    justify-content: center;
}
.end {
    justify-content: flex-end;
}

/* Alignment */

.center-fg {
    text-align: center;
    vertical-align: middle;
}
.center-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Sizing */

.vw-100 {
    width: 100vw;
}
.vh-100 {
    height: 100vh;
}
.w-20 {
    width: 20%;
}
.w-33 {
    width: 33.33%;
}
.w-70 {
    width: 70%;
}
.w-90 {
    width: 90%;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

/* Boxes */



/* Colors */

.light-fg {
    color: white;
}
.light-bg {
    background-color: white;
}
.dark-fg {
    color: black;
}
.dark-bg {
    background-color: #121212;
}
.smoke-fg {
    color: #252525;
}
.smoke-bg {
    background-color: #252525;
}
.crimson-fg {
    color: crimson;
}
.no-bg {
    background-color: transparent;
    background-image: none;
}