@font-face {
    font-family: 'Poiret One';
    src: url(../fonts/PoiretOne-Regular.ttf);
}
html, body {
    width: 100vw;
    font-family: 'Poiret One', 'Dosis', 'Varela Round', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}