body {
    background: #121212 center no-repeat fixed;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../media/car-8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 100vh;
}
#container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    height: 100%;
}
#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    background-color: #121212cc;
}
#logo {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 118px);
    grid-template-rows: repeat(3, 118px);
    gap: 8px;
    padding: 48px;
    font-size: 48px;
}
#logo div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}
#glyph-0 {
    opacity: 23%;
}
#glyph-1 {
    opacity: 34%;
}
#glyph-2 {
    opacity: 45%;
}
#glyph-3 {
    opacity: 56%;
}
#glyph-4 {
    opacity: 67%;
}
#glyph-5 {
    opacity: 78%;
}
#glyph-6 {
    opacity: 89%;
}
#glyph-7 {
    opacity: 100%;
}
#glyph-8 {
    border: 1px solid crimson;
    color: crimson;
    background-color: transparent;
    animation: glow 1.5s infinite alternate ease-in;
}
@keyframes glow {
    from {
        text-shadow: none;
        color: hsla(348, 83%, 47%, 0.2);
        border-color: hsla(348, 83%, 47%, 0.2);
    }
    to {
        text-shadow: 0 0 8px crimson;
        color: crimson;
        border-color: crimson;
    }
}
#credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 48px;
    text-align: center;
    vertical-align: middle;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 24px;
    padding: 10px 20px;
}
#credits a {
    color: hsla(0, 0%, 100%, 0.5);
}
#gitName {
    font-family: 'Poiret One';
}
#dot {
    color: crimson;
}
#smallText {
    font-size: 12px;
    padding-bottom: 8px;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 30vh;
    font-size: 100%;
    padding: 24px 48px;
    color: white;
}
#heading-border {
    height: 33.33%;
    padding: 1em;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 3px solid crimson;
}

/**************************************************/

.accordion {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    overflow: clip;
    height: 70vh;
}
.slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 0; /* ! I have no idea why, but it works. Keep this at 0 */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: flex 1s ease-in-out, transform 350ms ease-in-out, filter 0.75s;
    transform-origin: center;
    flex: 1;
    overflow: clip;
}
.ui-hint {
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212cc;
    width: 100%;
    height: 100%;
}
.ui-hint span {
    font-size: 48px;
    font-variant: small-caps;
    color: #ffffff;
}
#slide-0 {
    background-image: url("../media/car-18.jpg");
}
#slide-1 {
    background-image: url("../media/continental.jpg");
}
#slide-2 {
    background-image: url("../media/performance.jpg");
}
#slide-3 {
    background-image: url("../media/oldtimer.jpg");
}
#slide-4 {
    background-image: url("../media/components.jpg");
}
.description {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
    color: #121212;
    opacity: 0;
    overflow-x: hidden;
    transition: all 1s;
    transform: translateX(-100%);
}
.category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.category h3 {
    font-size: 48px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 100%;
    height: 100%;
}
.info p {
    width: 15vw;
}
.explore {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
}
.link-btn {
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #121212;
    color: #121212;
}
.link-btn:hover {
    background-color: #121212;
    color: white;
}
.close-btn {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    font-size: 30px;
    color: #121212cc;
}
.close-btn:hover {
    color: crimson;
}

/*******************************************/

#brands {
    height: 70vh;
    display: grid;
    grid-template:
    "a b c d e"
    "f g h i j";
}

/*******************************************/

#nav-arrow {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    bottom: 1vh;
    position: fixed;
    z-index: 9;
}
#nav-arrow a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}
#nav-arrow i {
    animation: hop 850ms infinite alternate ease-in-out;
}
@keyframes hop {
    from {
        color: #ffffff00;
        transform: translateY(-10%);
        text-shadow: none;
    }
    to {
        color: #ffffff;
        transform: translateY(10%);
        text-shadow: 0 0 8px white;
    }
}

/*---------------------------------------------------------------------------*/

#widget-0 {
    position: fixed;
    right: 0;
    bottom: 1vh;
    z-index: 9;
    transform: translateX(50%);
    transition: all 350ms ease-in-out;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 60px;
    background-color: hsla(0, 0%, 7%, 0.77);
    overflow: clip;

    /** Variant A

    border-radius: 56px 28px 28px 56px;*/

    /** Variant B */

    border-radius: 56px 0 0 56px;
}
#widget-0:hover {
    transform: translateX(0);
}
#toggle {
    position: relative;
    top: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    align-items: center;
    justify-items: center;
    border-radius: 28px;
    padding: 8px;
    transition: all 350ms ease-in-out;
}
#arrow {
    color: crimson;
    font-size: 96px;
    border-radius: 100%;
    transition: all 350ms ease-in-out;
}
#widget-0:hover #arrow {
    transform: rotateZ(180deg);
}
#light, #dark {
    background: #242424;
    border-radius: 100%;
    padding: 8px;
}
#light:hover, #dark:hover {
    background-color: #484848;
}
#light {
    color: lightgoldenrodyellow;
}
#dark {
    color: lightskyblue;
}
.icon {
    font-size: 28px;
    text-align: center;
    vertical-align: middle;

}