body {
    background: #121212 center no-repeat fixed;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../media/car-8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 100vh;
}
#container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    height: 100%;
}
#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    background-color: #121212cc;
    font-family: 'Poiret One';
}
#logo {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 118px);
    grid-template-rows: repeat(3, 118px);
    gap: 8px;
    padding: 48px;
    font-size: 48px;
}
#logo div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}
#number-8 {
    border: 1px solid crimson;
    color: crimson;
    background-color: transparent;
    animation-name: "glow";
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-shadow: none;
}
@keyframes glow {
    from {
        text-shadow: none;
        color: hsla(348, 83%, 47%, 0.25);
        border-color: hsla(348, 83%, 47%, 0.25);
    }
    to {
        text-shadow: 0 0 8px crimson;
        color: crimson;
        border-color: crimson;
    }
}
#author {
    margin-top: 48px;
    text-align: center;
    vertical-align: middle;
    color: hsla(0, 0%, 100%, 0.50);
    font-size: 24px;
    padding: 10px 20px;
}
#visit {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.50);
}
#visit:hover {
    color: white;
}
#categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    height: 20vh;
    font-size: 100%;
    padding: 24px 48px;
    background-color: #121212cc;
    color: white;
}
.dot-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 50px;
}
.dots-3 {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50px;
}
.dots-2 {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    height: 30px;
}
.dots-1 {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr;
    height: 10px;
}
.dot {
    background-color: crimson;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
#categories h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 24px;
}
/**************************************************/

.accordion {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    overflow: clip;
    height: 80vh;
    font-family: 'Poiret One';
}
.illustration {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 0; /* ! I have no idea why, but it works. Keep this at 0 */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: flex 1s ease-in-out;
    flex: 1;
    overflow: clip;
}
.illustration:hover {
    flex: 10;
}
#photo-a {
    background-image: url("../media/car-18.jpg");
}
#photo-b {
    background-image: url("../media/continental.jpg");
}
#photo-c {
    background-image: url("../media/performance.jpg");
}
#photo-d {
    background-image: url("../media/oldtimer.jpg");
}
#photo-e {
    background-image: url("../media/components.jpg");
}
.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
    background-color: transparent;
    color: #121212;
    opacity: 0;
    overflow-x: hidden;
    transition: all 1s;
    transform: translateX(-100%);
}
.illustration:hover .wrapper {
    transform: translateX(0);
    opacity: 1;
    background-color: hsla(0, 0%, 100%, 0.80);
}
.category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.category h1 {
    width: 70%;
    font-size: 48px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 100%;
    height: 100%;
}
.info p {
    width: 70%;
}
.explore {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
}
.link-btn {
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #121212;
    color: #121212;
}
.link-btn:hover {
    background-color: #121212;
    color: white;
}

/*******************************************/

#arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    bottom: 1vh;
    left: 50vw;
    position: sticky;
    font-family: 'material-icons-round';
    z-index: 9;
}
#arrow a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}
#arrow span {
    font-size: 100px;
    color: crimson;
    animation: hop 700ms infinite alternate ease-in-out;
}
@keyframes hop {
    from {
        color: #db143c00;
        transform: translateY(-10%);
    }
    to {
        color: crimson;
        transform: translateY(10%);
    }
}